name: Terraform Destroy EKS

on:
  workflow_dispatch:
    inputs:
      target_env:
        description: "Environment to destroy"
        required: true
        type: choice
        options: [dev, production]

jobs:
  destroy:
    runs-on: ubuntu-latest
    environment: ${{ inputs.target_env }}

    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: ${{ secrets.AWS_REGION }}
      CLUSTER_NAME: ${{ secrets.CLUSTER_NAME }}

    steps:
      - uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan Destroy
        run: |
          terraform plan -destroy \
            -var="aws_region=$AWS_REGION" \
            -var="cluster_name=$CLUSTER_NAME"

      - name: Terraform Destroy
        run: |
          terraform destroy -auto-approve -refresh=true \
            -var="aws_region=$AWS_REGION" \
            -var="cluster_name=$CLUSTER_NAME"
