name: Terraform Apply EKS

on:
  workflow_dispatch:
    inputs:
      target_env:
        description: "Select environment"
        required: true
        type: choice
        options: [dev, production]

jobs:
  terraform:
    runs-on: ubuntu-latest
    environment: ${{ inputs.target_env }}

    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: ${{ secrets.AWS_REGION }}
      CLUSTER_NAME: ${{ secrets.CLUSTER_NAME }}

    steps:
      - uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Terraform Init
        run: |
          terraform init
          - backend-config="bucket=my-eks-terraform-state" \
          - backend-config="key=$CLUSTER_NAME/terraform.tfstate" \
          - backend-config="region=$AWS_REGION" \
          - backend-config="dynamodb_table=terraform-locks" \
          - backend-config="encrypt=true"

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: |
          terraform plan \
            -var="aws_region=$AWS_REGION" \
            -var="cluster_name=$CLUSTER_NAME"

      - name: Terraform Apply
        run: |
          terraform apply -auto-approve \
            -var="aws_region=$AWS_REGION" \
            -var="cluster_name=$CLUSTER_NAME"

      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Update kubeconfig
        run: |
          aws eks update-kubeconfig \
            --region $AWS_REGION \
            --name $CLUSTER_NAME

      - name: Verify nodes
        run: kubectl get nodes
